<!DOCTYPE html>
<%- include('./partials/head') %>
<body>
    <h1>   Newsletter abonnieren    </h1>

    <form action="/newsletter" method="post">
        <input type="text" name="vorname" placeholder="Vorname" class=" 
            <% if (errorFieldName === 'vorname'){ %>
                error-field
            <% } %>" 
            value="<% if(formData){ %><%- formData.vorname %><% } %>" 
        >

        <input type="text" name="nachname" placeholder="Nachname" class="
            <% if (errorFieldName === 'nachname'){ %>
                error-field
            <% } %>" 
            value="<% if(formData){ %><%- formData.nachname %><% } %>" 
        >

        <input type="email" name="email" placeholder="E-Mail" class="
            <% if (errorFieldName === 'email'){ %>
                error-field
            <% } %>" 
            value="<% if(formData){ %><%- formData.email %><% } %>" 
        >

        <button type="submit">
            Anmelden
        </button>
    </form>

    <p class="error-msg"><%-  errorMsg  %></p>

    <!-- Clientseitige Lösung zum Merken der letzten Formulareingaben: -->
    <!-- <script>
        let storageData = localStorage.getItem('storageData')
        
        if(storageData) {
            storageData = JSON.parse(storageData)
            document.querySelector('input[name="vorname"]').value = storageData.vorname
            document.querySelector('input[name="nachname"]').value = storageData.nachname
            document.querySelector('input[name="email"]').value = storageData.email
        }

        document.querySelector('form').onsubmit = ()=>{
            storageData = {
                vorname: document.querySelector('input[name="vorname"]').value,
                nachname: document.querySelector('input[name="nachname"]').value,
                email: document.querySelector('input[name="email"]').value,
            }
            
            localStorage.setItem( 'storageData', JSON.stringify(storageData) )
        }
    </script> -->
</body>
</html>