body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 1em;
}

body>div {
    border: 1px solid;
    padding: 1em;
}

#tipps {
    display: flex;
    flex-wrap: wrap;
}

td,
table {
    border: 1px solid;
}

table {
    margin: .5em;
}

.hidden {
    display: none;
}

.selected {
    background-color: rgb(177, 177, 177);
}