<%- include( 'partials/header' ) %>

    <main>
        <div class="ui segment">
            <h1>Willkommen</h1>
            <p>
                <%= nachricht %>
            </p>
            
            <h2>Beliebte Template-Engines</h2>
            <p>
                <ul>
                    <% for(let engine of engines) { %>
                        <li>
                            <a href="<%- engine.url %>"><%= engine.name %></a>
                        </li>
                    <% } %>
               </ul>
            </p>
            <p>
                Zufallszahl: <%- Math.random() %>
            </p>
            <% const add = (a,b) => a+b %>
            Addition 5+10: <%- add(5,10) %>
        </div>
    </main>

<%- include( 'partials/footer' ) %>