<%- include('./partials/header') %>

<main>
    <div class="ui segment">
        <h1>Anmelden</h1>
        <form action="#">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Passwort">
            <button>Login</button>
        </form>
    </div>
</main>

<%- include( './partials/footer') %>