body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
}

.error-msg {
    color: darkred;
}

.error-msg:empty {
    display: none;
}

.error-field {
    background-color: darkred;
    color: white;
}