<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Willkommen</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body class="container">
    <header>
        <div class="ui menu inverted">
            <a class="item" href="/">Home</a>
            <a class="item" href="/login">Login</a>
        </div>
    </header>