<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter abonnieren</title>
    <link rel="stylesheet" href="css/main.css">
</head>